<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-tela">
      <div class="login-area">
        <form method="post" class="login-form">
          <span class="fa-solid fa-circle-user fa-7x login-icon"></span>
          <div class="form-floating mb-3">
            <input type="text" class="form-control login-campo" name="login" id="labelLogin">
            <label for="labelLogin">Usuário</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control login-campo" name="senha" id="senhaLogin">
            <span class="fa-solid fa-eye fa-lg login-icon-senha"></span>
            <label for="senhaLogin">Senha</label>
          </div>
          <input type="submit" name="acao" value="Enviar" class="login-campo login-button">
        </form>
      </div>
    </div>
  </body>
</html>
