@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Playfair+Display:wght@700&display=swap");
body {
  --var-cor-fundo-1: #0d1b2a;
  --var-cor-fundo-2: #1b263b;
  --var-cor-fundo-3: #415a77;
  --var-cor-fundo-4: #778da9;
  --var-cor-fundo-5: #e0e1dd;
  background: var(--var-cor-fundo-1) !important;
  font-family: "ADLaM Display" !important;
}

.navbar {
  padding: 2rem 4rem;
  margin-bottom: 1rem;
}
.navbar .nav-link {
  color: var(--var-cor-fundo-4);
}
.navbar .nav-link:hover {
  color: var(--var-cor-fundo-2);
}
.navbar .nav-link.active {
  color: var(--var-cor-fundo-2);
}
.navbar .fa-bars {
  cursor: pointer;
  color: var(--var-cor-fundo-2);
}

.offcanvas {
  --bs-offcanvas-color: var(--var-cor-fundo-2);
  padding-top: 1rem;
}
.offcanvas .offcanvas-header {
  border-bottom: 1px solid var(--var-cor-fundo-1);
}
.offcanvas .offcanvas-header .offcanvas-icon-close {
  color: var(--var-cor-fundo-2);
  opacity: 0.5;
  cursor: pointer;
}
.offcanvas .offcanvas-header .offcanvas-icon-close:hover {
  opacity: 1;
}
.offcanvas .offcanvas-list {
  text-decoration: none;
  list-style: none;
  line-height: 4rem;
  font-size: 18px;
}
.offcanvas .offcanvas-list > li:hover {
  color: var(--var-cor-fundo-3);
}

.card-area {
  display: grid;
  grid-template-columns: 1fr repeat(6, 13rem) 1fr;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  height: 22rem;
}
.card-area .card-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  height: 100%;
}
.card-area .card-link .card {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.card-area .card-link .card:hover {
  transform: translateY(-10%);
  transition: 0.5s;
}
.card-area .card-link .card .card-content {
  display: grid;
  grid-template-rows: 2fr 7rem auto 2fr;
  justify-content: center;
  height: 100%;
}
.card-area .card-link .card .card-content .card-icon-area {
  display: flex;
  width: 6rem;
  height: 5.9rem;
  background: var(--var-cor-fundo-2);
  border-radius: 100%;
  margin: 0 auto;
  grid-row: 2;
  justify-content: center;
  align-items: center;
}
.card-area .card-link .card .card-content .card-text {
  grid-row: 3;
  color: var(--var-cor-fundo-3);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.card-area .card-next {
  grid-column: 8;
  text-align: center;
}
.card-area .card-next:hover .card-icon {
  transform: scale(130%);
  color: var(--var-cor-fundo-4);
}
.card-area .card-previous {
  grid-column: 1;
  text-align: center;
}
.card-area .card-previous:hover .card-icon {
  transform: scale(130%) scaleX(-1);
  color: var(--var-cor-fundo-4);
}
.card-area .card-icon {
  color: #ffffff;
}

.login-tela {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-tela .login-area {
  border-radius: 2rem;
  background: #ffffff;
  width: 35rem;
  height: 30rem;
}
.login-tela .login-form {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 70%;
  grid-template-rows: 11rem repeat(3, 2rem) 1fr;
  gap: 2.5rem;
}
.login-tela .login-form .login-campo {
  border-color: var(--var-cor-fundo-2);
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
  color: var(--var-cor-fundo-2);
}
.login-tela .login-form .login-button {
  height: 3.5rem;
  background: var(--var-cor-fundo-2);
  color: #ffffff;
  transition: 0.5s;
}
.login-tela .login-form .login-button:hover {
  background: #ffffff;
  border-width: 3px;
  color: var(--var-cor-fundo-2);
  transition: 0.5s;
}
.login-tela .login-form .login-icon {
  color: var(--var-cor-fundo-1);
}
.login-tela .login-form .login-icon-senha {
  position: absolute;
  top: 2rem;
  right: 1.3rem;
  cursor: pointer;
}/*# sourceMappingURL=estilos.css.map */