<html>
    <head>
        <title>Menu Metro HTML</title>
        <link rel="stylesheet" href="estilo.css"/>
        <meta charset="UTF-8"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <link href="../../estrutura/css/css_padrao.css" rel="stylesheet" type="text/css"/>
        <script src="../../estrutura/js/Jquery.js" type="text/javascript"></script>
        <script src="../../estrutura/js/js_principal.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="pagina">
            <div class="container">
                <div class="linha">
                    <div class="tile amarelo">
                        <span>Windows</span>
                    </div>
                    <div class="tile azul">
                        <span>Favoritos</span>
                    </div>
                    <div class="tile tileLargo vermelho">
                        <span>Navegador</span>
                    </div>
                    <div class="tile verde">
                        <span>Imagens</span>
                    </div>
                    <div class="tile tileLargo amarelo">
                        <span>Ajuda</span>
                    </div>
                </div>
                <div class="linha">
                    <div class="tile tileLargo amarelo">
                        <span>Arquivos</span>
                    </div>
                    <div class="tile azul">
                        <span>E-mail</span>
                    </div>
                    <div class="tile verde">
                        <span>Camera</span>
                    </div>
                    <div class="tile vermelho">               
                        <span>Música</span>
                    </div>
                    <div class="tile tileLargo verde">
                        <span>Notas</span>
                    </div>
                </div>
            </div>
        </div>   

    </body>
</html>